@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #03a9f4;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  h1 {
    font-size: 28px;
  }
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #03a9f4;
  margin: 2% 9% 0% 9%;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #03a9f4;
  cursor: pointer;
  margin: 1% 0;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  h3 {
    font-size: 10px;
  }
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #a4a4a4;
  cursor: pointer;
  margin: 3% 0% 2% 88%;
}

h4:hover {
  color: #000;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  h4 {
    font-size: 15px;
    margin: 3% 0% 2% 70%;
  }
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  p {
    font-size: 10px;
  }
}

.btn1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: #F8F8F8;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  .btn1 {
    font-size: 15px;
  }
}

.btn2 {
  font-weight: 400;
  font-size: 20px;
  border: none;
  height: 2em;
  width: 2em;
  background-color: #F8F8F8;
}

ul {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #03a9f4;
}

label {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #03a9f4;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  label {
    display: none;
  }
}

* {
  margin: 0;
}

.movil {
  display: none;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  .movil {
    border-top: 2px solid #03a9f4;
    border-bottom: 0;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .movil svg {
    margin: 2% 0% 2% 0%;
  }
}

nav {
  background-color: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 2px solid #03a9f4;
}

nav .logo {
  margin-left: 45px;
  cursor: pointer;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  nav .logo {
    margin-left: 60px;
  }
}

nav input {
  border-radius: 20px;
  border: 2px solid #03a9f4;
  height: 30px;
  width: 190px;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  nav input {
    height: 20px;
    width: 100px;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  nav ul {
    display: none;
  }
}

nav ul li {
  list-style: none;
  margin-right: 76px;
  cursor: pointer;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  nav ul li {
    margin-right: 10%;
  }
}

nav ul li:hover .like {
  fill: #03a9f4;
}

.card1 {
  background-color: #8ED2F0;
  margin-top: 90px;
  margin-left: 8em;
  width: 85%;
  height: 17em;
  border-radius: 50px;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  .card1 {
    margin-top: 40px;
    margin-left: 20px;
    width: 85%;
    height: 10em;
    border-radius: 20px;
  }
}

.card1 h2 {
  margin: 2% 3%;
  position: absolute;
  color: white;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  .card1 h2 {
    margin: 7% 3%;
  }
}

.card1 p {
  color: white;
  position: absolute;
  margin: 6% 3%;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  .card1 p {
    display: none;
  }
}

.card1 .btn1 {
  background-color: #F8F8F8;
  border-radius: 20px;
  border: none;
  width: 165px;
  height: 50px;
  margin: 15% 0% 0% 50%;
}

.card1 .btn1:hover {
  border: 2px solid #000;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  .card1 .btn1 {
    width: 100px;
    height: 40px;
    margin: 20% 20% 2% 3%;
  }
}

.card1 .img1 {
  width: 28%;
  position: absolute;
  margin: -7% 0% 0% 3%;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  .card1 .img1 {
    margin: 7% 0% 0% -4%;
    width: 38%;
  }
}

.card2 {
  background-color: #03a9f4;
  margin-top: 140px;
  margin-left: 8em;
  width: 85%;
  height: 17em;
  border-radius: 50px;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  .card2 {
    margin-top: 28px;
    margin-left: 20px;
    width: 85%;
    height: 10em;
    border-radius: 20px;
  }
}

.card2 .btn1 {
  margin: 15% 0% 0% 80%;
}

.card2 .btn1:hover {
  border: 2px solid #000;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  .card2 .btn1 {
    width: 100px;
    height: 40px;
    margin: 30% 0% 0% 50%;
  }
}

.card2 h2 {
  margin: 3% 9% 0% 33%;
  position: absolute;
  color: white;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  .card2 h2 {
    margin: 5% 9% 0% 40%;
  }
}

.card2 p {
  color: white;
  position: absolute;
  margin: 7% 10% 0% 33%;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  .card2 p {
    display: none;
  }
}

.card2 .img2 {
  width: 22%;
  position: absolute;
  margin: -4% 0% 0% 4%;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  .card2 .img2 {
    width: 35%;
    margin: 8% 0% 0% 4%;
  }
}

.list-dog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 5% 3% 0% 5%;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  .list-dog {
    margin: 10% 0% 0% 25%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.list-dog .dog {
  border-radius: 30px;
  width: 15em;
  height: 15em;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  .list-dog .dog {
    width: 10em;
    height: 10em;
  }
}

.list-dog .dog .dog-img {
  position: absolute;
  border-radius: 30px;
  width: 15em;
  height: 15em;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  .list-dog .dog .dog-img {
    width: 10em;
    height: 10em;
  }
}

.list-dog .btn2 {
  margin: 12% 0% 0% 12%;
  position: absolute;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  .list-dog .btn2 {
    margin: 30% 0% 0% 30%;
  }
}

.orejas {
  width: 30%;
  margin-left: 33em;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  .orejas {
    display: none;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8F8F8;
  border-top: 2px solid #03a9f4;
  bottom: 0;
}

footer div {
  margin-bottom: 2%;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  footer {
    display: none;
  }
}

.btn1 {
  background-color: #F8F8F8;
  border-radius: 20px;
  border: none;
  width: 165px;
  height: 50px;
  cursor: pointer;
}

.btn2 {
  border-radius: 50px;
  cursor: pointer;
}

.btn2 .like {
  position: absolute;
  margin: -24% 6% 0% -30%;
}

.btn2:hover .like {
  fill: #03a9f4;
}

.list {
  margin: 5% 3% 8% 5%;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
  grid-auto-rows: minmax(100px, auto);
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  .list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 20% 0% 20% 5%;
    padding: 0;
  }
}

.list li {
  cursor: pointer;
  border-radius: 30px;
  width: 15em;
  height: 15em;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  .list li {
    width: 8em;
    height: 8em;
  }
}

.list li img {
  position: absolute;
  border-radius: 30px;
  width: 15em;
  height: 15em;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  .list li img {
    width: 8em;
    height: 8em;
  }
}

.list li img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.list li .btn2 {
  margin: 16% 0% 0% 16%;
  position: absolute;
}

@media screen and (min-width: 300px) and (max-width: 850px) {
  .list li .btn2 {
    margin: 30% 0% 0% 30%;
  }
}

.fav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12% 0% 12% 0%;
}

.fav-list .btn1 {
  background-color: #8ED2F0;
}

.fav-list .btn1:hover {
  background-color: #03a9f4;
}

.fav-list h2 {
  margin: 2% 9% 2% 9%;
}
/*# sourceMappingURL=style.css.map */